* {
    box-sizing: border-box;
}

body {
    background-color: rgb(243, 243, 73);
}

.main {
    
    width: 70%;
    margin: auto;
    height: 500px;
    background-color: lightblue;
    border: 10px solid rgb(219, 121, 137);
    margin: 10% ;
}
h1 {
    text-align: center;
    margin: 10%;
    font-style: italic;
    border-bottom: 5px solid blue;
}

.para {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-size: xx-large;
}
.quote {
    
    width: 70% ;
    margin:auto;
    margin-top: 70px;
    height: 350px;
    padding: 10px;
    background-color: rgb(238, 226, 172);
    border: 10px solid rgb(158, 158, 245);

}

.cimg {
    margin-top: 100px;
    margin-left: 70px;
    margin-right: 70px;
    
    font-weight: bolder;
    border-bottom: 7px solid green;

    text-align: center;
}
.container{
    width: 500px;
    margin:auto;
    padding: 30px;
}

img {
    width: 500px;


}
}